* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width:100%;
    margin: 0 auto;
    display:flex;
    
}
.leftcontainer{
    position:relative;
}
.sideimage{
    width:100%;
    height:100%;
}
.logosection{
    position:absolute;
    background-color: black;
    opacity:0.5;
    top:200px;
    width:100%;  
}
.logosection h1{
    color:white;
    position:relative;
    left:50%;
}

.rightcontainer{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:100%;
}
.top{
    background-color: beige;
    height:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}
